{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
Profile
{% endblock %}

{% block content %}

{% if messages %}
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endif %}

<div class="container d-flex justify-content-center gap-5 mb-3">
    <a href="{% url 'change_pass' %}" class="btn btn-outline-primary">Change Password</a>
    <a href="{% url 'set_pass' %}" class="btn btn-outline-primary">Set Password</a>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg" style="max-width: 500px; width: 100%; border-radius: 10px;">
        <h3 class="text-center text-primary mb-4">User Details</h3>

        <form method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for err in form.non_field_errors %}
                {{ err }}
                {% endfor %}
            </div>
            {% endif %}

            {% for fm in form %}
            <div class="mb-3">
                {{ fm.label_tag }}
                {{ fm|add_class:"form-control" }}
                <div class="text-danger">{{ fm.errors|striptags }}</div>
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary w-100">Update</button>
        </form>
    </div>
</div>
{% endblock %}