{% extends 'base.html' %}

{% block title %}
Authors
{% endblock %}


{% block content %}
<div class="text-center mb-3">
    <a href="{% url 'add_category' %}" class="btn btn-lg btn-outline-info">
        <i class="fa-solid fa-circle-plus"></i> Add Category
    </a>
</div>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td>{{cat.name}}</td>
            <td>{{cat.description}}</td>
            <td class="text-center">
                <a href="{% url 'edit_category' cat.id %}" class="btn btn-success m-1"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'delete_category' cat.id %}" class="btn btn-danger m-1"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}