{% extends 'base.html' %}

{% block title %}
View Task
{% endblock %}

{% block content %}
<h1 class="text-center">Tasks</h1>


<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for task in tasks %}
    <div class="col">
        <div class="card h-100 border-success mb-3 shadow">
            <div class="card-header bg-transparent border-success fw-bold">ID: {{task.id}}</div>
            <div class="card-body text-success">
                <small>Assign Date: {{task.assign_date | date:'D, d M Y'}}</small>
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.description}}</p>
                <small class="text-body-secondary d-flex">
                    Categor{{task.category.count | pluralize:'y,ies'}}:
                    {% for cat in task.category.all %}
                    <div class="border border-secondary px-1 rounded mx-1">{{cat.category_name}}</div>
                    {% endfor %}
                </small>
            </div>
            <div class="card-footer bg-transparent border-success text-center">
                {% if task.is_completed %}
                <button class="btn btn-info" disabled>Completed</button>
                {% else %}
                <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'complete_task' task.id %}" class="btn btn-success">Complete</a>
                {% endif %}
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}