.body-container {
    background-color: #213555;
    color: #F5EFE7;
}

.nav-container {
    background-color: #3E5879;
    margin: 0 25%;
    border: 1px solid #D8C4B6;
}

.nav-icon {
    width: 50px;
    height: auto;
    padding: 10px;
    color: #F5EFE7;
}

.nav-icon:hover {
    color: #D8C4B6;
    cursor: pointer;
}

.footer-container {
    background-color: #D8C4B6;
    color: #213555;
}